BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
ColumnLimit: 92
UseTab: Never
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Allman
AllowShortCaseLabelsOnASingleLine : false
